.text-center{
    color: white;
}


.carousel-caption {
	top: 30%
}

.slider-title {
	font-size: 80px;
}

.slider-text {
	font-size: 30px;
}
#fila-eventos{
  margin: auto;
}
.btn-info{
    background-color:#044954;
    font-weight: bold;
    margin-top: 25px;
    color: #FFFFFF;
    border:0px;
    margin: auto;
}
<<<<<<< HEAD
=======
.btn-light{
    background-color:#ffee00;
    font-weight: bold;
    margin-top: 25px;
    color: #FFFFFF;
    border:0px;
    margin: auto;
}

.scroll-container {
    scroll-behavior: smooth;
}
>>>>>>> d1bd3f040bafb6fa91ed90b0063516f0899d1857
