*, *::after , *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS PROFILE */

.details-profile{
  color: #000000 !important;
  background: url("https://res.cloudinary.com/venezuela/image/upload/v1649193843/Evento/comercial_jurhhp.jpg") no-repeat center center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px !important;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
}

.description-profile{
  background: linear-gradient(90deg, rgba(4,73,84,1) 0%, rgba(5,44,47,1) 93%);
  min-height: 400px;
}

.description-profile p{
  font-size: 1.5rem;
}

.info-profile {
  font-size: 1.5rem;
}

.btn-profile{
  background-color:#FFF76A;
  width: 300px;
  font-weight: bold;
  margin-top: 25px;
  justify-content: center;
}