/*-----Background-----*/
*, *::after , *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    /* overflow: hidden; */
}    

/* #overlay{
    position: absolute;
    top: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(33,33,33,0.02);
} */



/* #overlay-light{
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    background-color: rgba(237, 235, 235 ,0.26);
} */

#bg-home{
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    min-height: 100vh;
}

.bg-general{
    background-color: #daeaed !important;
    width:100%;
    height: 100vh;
}


/*-----for border----*/
.container-intro{
    font-family:Roboto,sans-serif;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
    max-width: 600px;
    padding-top: 10px;
    margin-top: 166px;
}

.container-home{
    font-family:Roboto,sans-serif;
    background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
    max-width: 600px;
    padding-top: 10px;
    margin-top: 200px !important;
}
.container-login{
    font-family:Roboto,sans-serif;
    border-style: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-top: 67px;
    max-width: 600px;
    padding-top: 10px;
    margin-top: 166px;
}

.container-form{
    border-radius: 15px;
    padding: 25px 50px;
}

.form-control{
    width: 70%;
    background: transparent;
    color: #fff;
}

/*--- for label of first and last name---*/

.name{
    margin-left: 1px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
#lname{
    margin-top:5px;
}
#fname{
    margin-top:5px;
}  

/*---for heading-----*/
.heading{
    font-weight: bold;
    text-align : center;
    font-size:40px;
    color:#FFF76A;
    padding-top:10px;
}

.btn-submit{
    background-color:#FFF76A;
    width: 200px;
    font-weight: bold;
    margin-top: 25px;
}

.btn-primary{
    background-color:#044954;
    width: 200px;
    font-weight: bold;
    margin-top: 25px;
    color: #FFFFFF;
    border:0px;
}

/*-------for email----------*/
/*------label----*/
#email{
    margin-top: 5px;
}
/*-----------for Password--------*/
    /*-------label-----*/
.labelInput{
    color: white;
    margin-top: 13px;
}

.pass{
    color: white;
    margin-top: 9px;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 6px;
    margin-top: 9px;
}
#password{
margin-top: 6px;
}
/*------------for phone Number--------*/
    /*----------label--------*/
.pno{
    font-size: 18px;
    margin-left: -13px;
    margin-top: 10px;
    color: #ff9;
}	
	
/*------------For submit button---------*/
.sbutton{
    color: white;
    font-size: 20px;
    border: 1px solid white;
    background-color: #080808;
    width: 32%;
    margin-left: 41%;
    margin-top: 16px;
    box-shadow: 0px 2px 2px 0px white;
        
}
.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
    background:#5900a6;
    color:#fff;
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
}

.radioLabel{
    color: white;
    font-size: 16px;
    margin-top: 9px;
} 

.footer{
    background-color: #000000;
}

.footerLabel{
    color: white;
    font-size: 20px;
}
